{{ subject }}
{{ badge }}

핵심 이슈
{% for item in hot %}
- {{ item.title }}
  {{ item.url }}
  출처: {{ item.source_domain }}
  {{ item.tldr }}
{% endfor %}

추가 이슈
{% for item in bottom %}
- {{ item.title }}
  {{ item.url }}
  출처: {{ item.source_domain }}
{% endfor %}

만족도: {{ satisfaction_url }}
구독 해지: {{ unsubscribe_url }}
